<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/adminhome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/update.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <h1 class="header-title"><a href="#" class="header-link-title">RandomFish</a></h1>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-list-icons">
                <div class="list-icon"><a href="https://github.com/Ognys" target="_blank" class="list-icon-link"><img src="/img/github-mark.svg" alt="" class="icon-img"></a></div>
                <div class="list-icon"><a href="https://t.me/OgnysssPage" target="_blank" class="list-icon-link"><img src="/img/Telegram_logo.svg" alt="" class="icon-img"></a></div>
            </div>
            <div class="footer-info">
                <p class="footer-info-copy">© 2026 RandomFish</p>
                <p class="footer-info-cont">По рыбкам писать сюда: <a href="https://t.me/Ognys" target="_blank" class="footer-info-cont-tglink">@@Ognys</a></p>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
