@page
@model AddModel
@{
    ViewData["Title"] = "Add";
}

<div class="add-main">
    <form method="post" class="add-form" enctype="multipart/form-data">
        <div>
            <label asp-for="Fish.Name"></label>
            <input asp-for="Fish.Name" />
            <span asp-validation-for="Fish.Name"></span>
        </div>

        <div>
            <label asp-for="Fish.Description"></label>
            <textarea asp-for="Fish.Description"></textarea>
            <span asp-validation-for="Fish.Description"></span>
        </div>

        <div>
            <label asp-for="Upload"></label>
            <input asp-for="Upload" type="file" accept="image/*"/>
            <span asp-validation-for="Upload"></span>
        </div>

        <button type="submit">Save</button>
    </form>
</div>
