.adminhome {
    font-family: 'Roboto';;
}

.adminhome-list-item {
    display: flex;
    align-items: center;
}

.list-item-img-container {
  width: 240px;
  height: 100px;
  overflow: hidden;
  flex: 0 0 250px;
}

.list-item-img {
    width: 100%;
    height: 100%;   
}

.adminhome-grid{
  display: grid;
  grid-template-columns: 30px 250px 180px 1fr 160px;
  gap: 16px;
  align-items: center;
}

.adminhome-grid--header{
  font-weight: 700;
  padding: 12px 0;
  border-bottom: 1px solid rgba(0,0,0,.15);
  text-align: center;
}

.adminhome-grid--row{
  padding: 14px 0;
  border-bottom: 1px solid rgba(0,0,0,.08);
}

.adminhome-item-id {
    text-align: center;
}

.adminhome-item-name {
    font-weight: 500;
}

.adminhome-item-desc {
    font-size: 13px;
}

.adminhome-item-actions {
    text-align: center;
}

.adminhome-item-actions-update {
  color: black;
  transition: all .2s linear;
}

.adminhome-item-actions-update:hover {
  color: rgb(148, 148, 148);
}

.adminhome-item-action-del-buttton {
  color: black;
  transition: all .2s linear;
}

.adminhome-item-action-del-buttton:hover {
  color: rgb(148, 148, 148);
}

.adminhome-interface-page {
  display: flex;
  justify-content: end;
  text-align: center;
  padding: 25px 15px 30px 10px;
}

.adminhome-interface-page-add {
  border-style: solid;
  padding: 10px;
  background-color: rgb(11, 118, 11);
  color: white;
  transition: all .2s linear;
}

.adminhome-interface-page-add:hover {
  background-color: white;
  color: rgb(11, 118, 11);
}