.home {
     min-height: 100vh;
    background-image: url('/img/home_back.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content:center;
    align-items: flex-end;

    padding-bottom: 50px;
}

.home-random-button {
    padding: 14px 28px;
    border-radius: 999px;
    border: 1px solid rgba(255,255,255,.35);
    background: rgba(255,255,255,.12);
    backdrop-filter: blur(10px);
    color: white;
    letter-spacing: .3px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Rubik';
    transition: transform .15s ease, bacground .15s ease;
}

.home-random-button:hover {
    transform: translateY(-2px);
    background: rgba(255,255,255,.18);
}

.home-random-button:active {
    transform: translateY(0);
}