.news-line {
    width: 100%;
    min-height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    padding: 16px 12px;
    box-sizing: border-box;
    background: rgba(5, 13, 24, 0.35);
    backdrop-filter: blur(15px);
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-color: rgba(255, 255, 255, 0.034);
    border-width: 3px;
}

.news-line-card {
    padding: 10px;
    border: solid;
    margin-bottom: 40px;
}

.news-line-card-name {
    font-family: 'Roboto Condensed';
    color: white;
    margin-bottom: 15px;
}

.news-line-card-title {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 27px;
}

.news-line-card-images {
    padding-bottom: 10px;
    border-bottom: solid rgb(5, 13, 24);
}

.news-line-card-images-main {
    margin-bottom: 10px;
}

.card-images-main-container {
    width: 700px;
    height: 450px;
    margin: 0 auto;
}

.card-img-main {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;

    opacity: 1;
    transition: opacity 180ms ease;
}

.card-img-main.is-fading{
  opacity: 0;
}

.news-line-card-thumb {
    display: grid;
    grid-template-columns: repeat();
}

.news-line-card-thumb {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    justify-content: center;
}

.thumb-btn {
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
}


.thumb-item-img {
    width: 72px;
    height: 52px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    opacity: .85;
}

.news-line-card-desc-text {
    white-space: pre-wrap;
}