@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="home">
    @if(Model.RandomFish != null) {
        <div class="home-interface">
            <h1 class="intetface-name">@Model.RandomFish.Name</h1>
            <p class="interface-description">@Model.RandomFish.Description</p>
            <img src="@Model.RandomFish.ImagePath" alt="fish" class="interface-img">
        </div>
    }
    <div class="home-random">
        <form method="post" class="home-random-form" asp-page-handler="Random">
            <button class="home-random-button">Получить рыбу</button>
        </form>
    </div>
</div>